@import '../../assets/styles/variables';

.stablecoin-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(355px, 620px));
  grid-gap: 30px;
}

@media (max-width: $xlBreakpoint) {
  .stablecoin-cards {
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(355px, 650px));
  }
}

@media (max-width: $lgBreakpoint) {
  .stablecoin-cards {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}



.footer a {
    background-image: linear-gradient(to right, rgba(247, 6, 186, 0) 50%, rgb(175, 9, 161) 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #FFF;
    font-size: 1em;
    line-height: 1.15em;
    text-align: center;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
    }
/* Gradient animation */
.footer a:hover {
background-position: -99.99% 0;
}
/* Space between elements and footer */
.footer {
    margin-top: 40px;
    margin: auto;
    width: 50%;
}